################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/go/config/applicationhost.config
/.vs/go/project-colors.json
/.vs/go/v17/.suo
/.vs/VSWorkspaceState.json
